<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azwar.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Arisan Barang">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DaftarKelompokArisanActivity"
            android:label="Daftar Kelompok Arisan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".KategoriActivity"
            android:label="Kategori"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HasilPencarianActivity"
            android:label="Hasil Pencarian"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailBarangActivity"
            android:label="Detail Barang"
            android:parentActivityName=".KategoriActivity" />
        <activity
            android:name=".DaftarKelompokArisanIsiActivity"
            android:label="Daftar Kelompok Arisan" />
        <activity
            android:name=".KatalogActivity"
            android:label="Katalog"
            android:parentActivityName=".DaftarKelompokArisanActivity" />
        <activity
            android:name=".TambahPertanyaanActivity"
            android:label="Tambah Pertanyaan"
            android:parentActivityName=".DetailBarangActivity" />
        <activity
            android:name=".DetailArisanActivity"
            android:label="Detail Arisan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TambahUlasanActivity"
            android:label="Tambah Ulasan"
            android:parentActivityName=".DetailArisanActivity" />
        <activity android:name=".DetailArisanIsiActivity"
            android:label="Detail Arisan"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>